body {
    background-position: center;
    background-image: url(https://prod-static.disney-plus.net/us-west-2/disneyPlus/app/builds/56a609b9f8106aaed76cd596053f79316378f2e2/node_modules/dss-junglebook/components/themes/images/background.png);
    background-attachment: fixed;
    background-size: 100%;
}

.bg-black {
    background-color: #080B12 !important;
}

.game{
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon{
    color: rgb(249, 249, 249) !important;
    height: 24px; 
    min-width: 24px;
    width: 24px; 
    z-index: auto;
    fill:aliceblue;
}
.text-option-navbar{
    margin-left: 8px;
    padding-bottom: 2.5px;
}

.nav-text-icon{
    margin-inline: 15px;
} 

.navbar-brand{
    margin-inline: 25px;
}

.nav-text-icon:hover .text-option-navbar{
    border-bottom: 2px solid white;
    }
.initial-banner{
    margin-top: 100px;
    margin-inline: 5%;
}

.shadowed{
    box-shadow: 0px 26px 30px 10px #00000081;
}

.carousel-caption{
    left:0% !important;
    right: 50% !important;
}
.banner-logo{
    
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    --animate-duration: 1.2s !important;
    
}
.division1{
    background-color: azure;
    height: 100px;
}

.division2{
    background-color: blue;
    height: 100px;
}

.branches-container{
    padding-inline: 5% !important;
    padding-top: 3%;
}


//para las imagenes con gifs de fondo

.highlight-logo{
    max-width: 100%;
}

.gif-disney:hover{
    background-image: url(./assets/Categories/disney-moving-background.gif);
}
.gif-pixar:hover{
    background-image: url(./assets/Categories/pixar-moving-background.gif);
}
.gif-marvel:hover{
    background-image: url(./assets/Categories/marvel-moving-background.gif);
}
.gif-starwars:hover{
    background-image: url(./assets/Categories/starwars-moving-background.gif);
}
.gif-natgeo:hover{
    background-image: url(./assets/Categories/natgeo-moving-background.gif);
}


.gif-branch-container:hover{
    cursor: pointer;
    border: 3px solid #D2D8E8;
    transform: scale(1.09);
    
}
.gif-branch-container{
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border-radius: 5%;
    border:3px solid #434552;
    background-size: cover;
}

.contenedor-videos{
    padding-inline: 5%;
    padding-top: 3%;
}
.contenedor-videos-font{
    cursor: inherit;
    font-family: Avenir-Heavy, sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.4;
    color: rgb(249, 249, 249);
    font-weight: bold;
    margin-bottom: 0 !important;
}
.videos-grid{
    padding-top: 20px !important;
    margin-bottom: 10px !important;
    
}

.video-image{
    max-width: 100%;
    border-radius: 5% !important;
    border: 3px solid #00000060;
}

.video-image-container:hover{
    cursor: pointer;
    transform: scale(1.09);
    .video-image{
        border: 3px solid #D2D8E8;
    }
    
}
.video-image-container{
    background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
    border-radius: 5%;
    background-size: cover;
}

// .contenedor-carousel-banner{
//     border: 5px solid transparent;
// }

// .contenedor-carousel-banner:hover{
//     border: 5px solid #D2D8E8;
// }
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~animate.css/animate.css";
@import "~bootstrap/scss/bootstrap";

