body {
    background-position: center;
    background-image: url(https://prod-static.disney-plus.net/us-west-2/disneyPlus/app/builds/56a609b9f8106aaed76cd596053f79316378f2e2/node_modules/dss-junglebook/components/themes/images/background.png);
    background-attachment: fixed;
    background-size: 100%;
}

.bg-black {
    background-color: #080B12 !important;
}

.game{
    color: aliceblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-icon{
    color: rgb(249, 249, 249) !important;
    height: 24px; 
    min-width: 24px;
    width: 24px; 
    z-index: auto;
    fill:aliceblue;
}
.text-option-navbar{
    margin-left: 8px;
    padding-bottom: 2.5px;
}

.nav-text-icon{
    margin-inline: 15px;
} 

.navbar-brand{
    margin-inline: 25px;
}

.nav-text-icon:hover .text-option-navbar{
    border-bottom: 2px solid white;
    }
.initial-banner{
    margin-top: 100px;
    margin-inline: 5%;
}

.carousel-caption{
    left:0% !important;
    right: 50% !important;
}
.banner-logo{
    
    inset: 0px;
    display: block;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    --animate-duration: 1.2s !important;
    
}


@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~animate.css/animate.css";
@import "~bootstrap/scss/bootstrap";

